{{ define "modules/home/html/home" }}
<html><h1>
  {{ .title }} - {{ .APP_NAME }}
</h1>
<p>modules/home/html/home.tmpl</p>

<img src="/assets/GPT_RecordStore.png" alt="Image" width=" 500">

</html>
{{ end }}